.hero_fon{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: rgba(37, 34, 34, 0.11);
    padding: 60px;
h1{
    font-size: 50px;
    color: black;
}
p{
    font-size: 20px;
    opacity: 0.8;
}
a{
    font-size: 18px;
    text-decoration: none;
    
}
}