.block{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}
.block1{
    display: block;
    text-align: center;
}
.hover:hover{
    transform: scale(1.1);
    transition: 1s;
}

.btn{
    display: flex;
    gap: 20px;
    button{
        padding: 15px;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        &:focus{
            box-shadow:0px 1px 2px 1px  black;
        }
    }



.v{
    background-color: rgb(54, 54, 54);
}
.g{
    background-color: rgb(201, 180, 140);
}
.d{
    background-color: rgb(235, 233, 233);
}
}
.blockk{
    margin-top: 40px;
}

.pamit{

.pamit1{
    display: flex;
    gap: 20px;
button{
    
    height: 40px;
    font-size: 20px;
    background-color: white;
    border: solid 1px;

    &:focus{
        border: solid rgb(62, 97, 48);
    }
}


}
}
.price{
    margin-top: 30px;

    p{
        font-size: 40px;
        font-weight: 400;
    }    
}
.btn_k{

button{
    border-radius: 10px;
    border: none;    
    width: 130px;
    height: 45px;
    background-color: rgba(15, 95, 170, 0.788);
    font-size: 20px;
    color: white;
    font-weight: 500;
}

}
.harac{
    margin-top: 50px;

h4{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}
img{
    width: 50px;
}
.cambion{
        display: flex;
        gap: 60px;
}
.rescera{
        display: flex;
        gap: 130px;
} 
}
