.sun {
    background-color: white;
      
}

.night {
    background-color: rgb(68, 67, 67);
 
    .Navbar{
        background-color: white;
    }
    
    
}

.app {
    padding: 20px 300px;
    background-color: white;

}

.Navbar {
    padding: 20px 300px;
    background-color: rgba(37, 34, 34, 0.11);
    height: 100px;
    position: sticky;
    top: 0;

}